@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
/* 头部 */
#head{
    width: 1520px;
    height: 71.4px;
    position: fixed;
    width: 100%;
    background: #fff;
    z-index: 10001;
    border-bottom: 1px solid #eee;
}
.head-con{
    margin: 0 auto;
    width: 1200px;
    height: 70.4px;
}
.head-con img{
    width: 144px;
    height: 38px;
    float: left;
    margin-top: 20px;
}
.head-con em{
   width: 51px;
   height: 24px;
   margin-left: 3px;
   line-height: 75px;
   font-style: normal;
   padding-left: 12px;
   color: #5977b3;
   border-left: 1px solid #dae0f2;
}
.head-con ul{
    width: 638px;
    height: 62px;
    float: right;
  
}
.head-con ul li{
    width: 100px;
    margin-top:20px;
    padding: 2px 0px; 
    text-align: center;
    float: left;
    cursor: pointer;
    list-style: none;
    color: #1045af;
    border-right: 1px solid #ececec;
}
.head-con ul img{
    width:22px;
    height: 24px; 
    float: right;
    margin-top: 20px; 
}
/* 轮播 */
#banner{
    width: 100%;
    height: 594px;
}
#banner .banner-con{
    width: 100%;
    height: 594px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
#imgwrap li {
    display: none;
    width: 100%;
    height: 100%;
}
#imgwrap li img{
    width: 100%;
    height: 100%;
}
#imgwrap li .datu{
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width:  inherit;
}
#imgwrap li .xiao{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
}
#imgwrap li .banxin{
    z-index: 99;
    position: absolute;
    top: 0;
    left: 30%;
    height: 100%;
    max-width: 100%; 
    transform: scaleX(1.2)
}
#imgwrap .show {
    display: block;
}
#imgwrap .show .xiao{
    position: absolute;
    right: 20%;
    top: 0;
}
#prev,#next {
    position: absolute;
    top: 45%;
    cursor: pointer;
    transition: all .5s;
    opacity: .7;
}
#prev:hover,#next:hover {
    transform: scale(1.5);
    opacity: 1;
}
#prev {
    left: 15px;
}
#next {
    right: 15px;
}
#dotWrap {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999999;
}
#dotWrap li {
    width: 50px;
    height: 3px;
    background-color: #fff;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    display: block;
}
#dotWrap .dian{
    background: blue;
}
/* 产品 */
#product{
    width: 1007px;
    height: 323px;
    margin: 0 auto;
}
#product h2{
    margin-top: 30px;
    font-weight: normal;
    font-size: 27px;
}
#product .pro{
    width: 316px;
    height: 93px;
    float: left;
    margin: 10px 10px 10px 0px;
    border: 1px solid #dcdcdc;
}
.pro:hover{
    cursor: pointer;
    background-color: #f8f8ff; 
    border: 1px solid #000000;
}
#product .pro p{
    float: right;
    margin: 29px 72px 0 0;
}
#product .pro img{
    width: 97px;
    padding: 9px;
    height: 76px;
}
/* 推荐 */
#reco{
    width: 100%;
    height: 1040px;
    background-color: #e9e9e9;
}
#recommend{
    width: 1007px;
    height: 200px;
    margin: 0 auto;
}
#recommend h2{
    margin-top: 30px;
    font-weight: normal;
    font-size: 27px;
}
.recommend-div{
    width: 316px;
    height: 315px;
    float: left;
    background-color: #fff;
    margin: 10px 19px 10px 0;
}
.recommend-img{
    width: 316px;
    height: 177px;
    float: left;
}
#recommend h4{
    font-size: 13px;
    font-weight: normal;
    width: 56px;
    margin-left: 18px;
    padding: 5px;
    background-color: #D57724;
    color: #ececec;
}
#recommend h5{
    margin: 20px 18px;
    font-size: 14px;
}
#recommend span{
    float: left;
    width: 244px;
    margin: 10px 18px;
}
#recommend p{
    font-size: 13px;
    float: left;
    padding-right: 10px;
    border-right:1px solid #cccccc; 
}
.recommend-div span img{
    float: left;
    padding-left: 10px;
    padding-top: 1px;
}
/* 资讯 */
#information{
    width: 1007px;
    height: 200px;
    margin: 0 auto;
}
#information h2{
    margin-top: 30px;
    font-weight: normal;
    font-size: 27px;
    border-bottom:1px solid #ececec; 
}
#information li{
    height: 58px;
    line-height: 52px;
    list-style: none;
    border-bottom: 1px dashed #c9c0c0; 
}
#information h4{
    float: left;
    width: 143px;
    font-size: 13px;
}
#information h5{
    border: 1px solid #ffffff;
    background-color: #008080;
    color: #ffffff;
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
    /* width: 200px; */
    font-weight: normal;
    font-size: 13px;
}
#information .blue{
    background-color: #5977b3;
}
#information h6{
    padding-left: 20px;
    float: left;
    width: 200px;
    font-weight: normal;
    font-size: 13px;
    width: 719px;
}
#information h3{
    margin-right: 20px;
    float: right;
    color: #003296;
}