body,html{
    width: 100%;
}
#banner{
    width:100%;
}
.banner2 .img6{
    position: absolute;
    top:60px;
    right: 60px;
    cursor: pointer;
}
.banner2 .img7{
    position: absolute;
    top:58px;
    right: 30px;
    cursor: pointer;
    width: 17px;
    height: 17px;
}
.banner2{
    width: 1347px;
    height: 120px;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    /* background-color: #F5F5F5; */
    margin-top: -10px;
}
.banner2:hover{
    background-color: #FFFFFF;
}

.banner2 .span1{
    display: inline-block;
    width: 13px;
    height: 16px;
    border: 1px solid #B52737;
    background-color: #FFFFFF;
    color: #B52737;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top:50px;
    right: 25px;
}
.banner2 .banner-ul1{
    width:367px;
}
.banner2 .banner-ul1 li{
    float: left;
    margin-right: 34px;
    margin-top: 45px;
}
.banner2 .img3{
    margin-left: 260px;
    margin-top: 10px;
}
.banner2 .banner-ul1 li a,.banner3 .banner-ul1 li a{
    color: #6B7980;
}
.banner2 .banner-ul2{
    width: 248px;
    float: right;
}
.banner2 .banner-ul2 li{
    float: left;
    margin-left: 30px;
}
.banner2 .banner-ul2 li a{
    font-weight: bold;
    font-size: 11px;
    color: #969696;
}
.banner3{
    width: 100%;
    height: 90px;
    padding: 13px;
    box-sizing: border-box;
    position: relative;
    background-color:  #FFFFFF;
    position: absolute;
    top: 0;
    z-index: 222;
}
.banner3 .banner-ul1 li{
    float: left;
    margin-right: 34px;
    margin-top: 20px;
}
.banner3 .banner-ul2{
    float: right;
}
.banner3 .banner-ul2 li{
    float: left;
    margin-right: 34px;
    margin-top: 20px;
}
.banner3 .img8{
    position: absolute;
    top:30px;
    left: 660px;
}
.banner3 .img7{
    cursor: pointer;
    width: 17px;
    height: 17px;
}
.banner3 .span2{
    display: inline-block;
    width: 13px;
    height: 16px;
    border: 1px solid #B52737;
    background-color: #FFFFFF;
    color: #B52737;
    border-radius: 50%;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    position: absolute;
    top:30px;
    right: 38px;
}
#content{
    width: 92%;
    height: 650px;
    margin: 0 auto;
    background-color: #F5F5F5;
    /* overflow: hidden; */
    padding: 65px;
    box-sizing: border-box;
}
.content-l{
    width: 320px;
    height: 350px;
    background-color: white;
    padding: 40px 35px;
    box-sizing: border-box;
    cursor: pointer;
}
.content-l .zh,.content-r .lishi{
    font-size: 20px;
    color: #081F2C;
}
.content-l .wdxx{
    margin-top: 13px;
    color: #6B7980;
    cursor: pointer;
}

.dzb,.dd,.xyd,.jf{
    margin-top: 28px;
    color: #6B7980;
    cursor: pointer;
}
.dd{
    border-bottom: 1px solid #081F2C;
    color: #081F2C;
    width: 66px;
}
.content-r{
    width: 730px;
    height:530px;
    background-color: white;
    margin-left: 380px;
    margin-top: -350px;
    padding: 40px 35px;
    box-sizing: border-box;
}
.content-r .lishi{
    height: 35px;
    border-bottom: 1px solid #D7D7D7;
}
.zhanghu{
    height: 40px;
    font-size: 20px;
    line-height: 40px;
}
.wwc,.ywc{
    display: inline-block;
    height: 35px;
    width: 100px;
}
.wwc{
    margin-left: 240px;
    height: 40px;
    width: 100px;
    border-right: 1px solid #D7D7D7;
}
.ywc{
    color: #838F95;
    margin-left: 30px;
}
.zfxq{
    width: 656px;
    height: 350px;
    border: 1px solid #D7D7D7;
    padding: 30px 40px;
    box-sizing: border-box;
}
.xqy{
    height: 60px;
    border-bottom: 1px solid #D7D7D7;
}
.zty{
    margin-top: -7px;
}
.zty span{
    font-size: 12px;
    color: #081F2C;
    font-weight: bold;
}
.ddh,.gm,.zongji{
    display: inline-block;
    margin-left: 110px;
}
.dzf{
    color: #969696;
    font-size: 15px;
    margin-top: 5px;
}
.bh{
    display: inline-block;
    margin-left: 88px;
}
.xmd{
    position: relative;
}
.rq{
    margin-left: 68px;
}
.jg{
    margin-left: 20px;
}
.zjd{
    height: 160px;
    border-bottom: 1px solid #D7D7D7;
}
.zjd img{
    margin-top: 40px;
}
.gchy{
    margin-left: 100px;
    margin-top: -100px;
    cursor: pointer;
}
.gchy:hover{
    text-decoration: underline;
}
.shuliang{
    margin-left: 350px;
    margin-top: -10px;
    color: #969696;
}
.pri{
    margin-left: 350px;
}
.jiage{
    color: #969696;
}
.money{
    margin-left: 120px;
}
.check{
    margin-left: 143px;
    color: #081F2C;
    margin-top: 35px;
    
}
.check:hover{
    background-color: #081F2C;
    color: white;
}
.check,.pay{
    width: 204px;
    height: 30px;
    border: 1px solid #081F2C;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}
.pay{
    background-color: #081F2C;
    color: white;
    margin-left: 370px;
    margin-top: -34px;
}
#footer{
    height: 300px;
    width: 100%;
    margin-top: 100px;
    position: relative;
    background-color: #F5F5F5;
    /* overflow: hidden; */
}
#footer .watch{
    position: absolute;
    top: 54px;
    left: 17px;
    font-size: 9px;
    font-weight: bold;
}
#footer .img1,#footer .img2{
    cursor: pointer;
}
#footer .p2{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 67px;
    left: 70px;
    text-align: center;
    line-height: 28px;
}
#footer .p2:hover{
    border: 1px solid #E8E6E7;
}
#footer .img1{
    position: absolute;
    top: 76px;
    left: 17px;
}
#footer .img2{
    position: relative;
}
#footer .p3{
    width: 167px;
    height: 270px;
    border: 1px solid #E8E6E7;
    padding: 18px;
    box-sizing: border-box;
    position: absolute;
    top: -200px;
    left: 0;
    background-color: #FFFFFF;
    display: none;
}
#footer .img3{
    width: 113px;
    height: 113px;
}
#footer .p4{
    font-size: 14px;
    font-weight: bold;
    color: #505050;
}
#footer .p5{
    font-size: 13px;
}
#footer .p6,#footer .p7{
    font-size: 14px;
    color: #505050;
}
#footer .p6{
    margin-top: -15px;
    margin-left: 5px;
}
#footer .p7{
    margin-top: -15px;
    margin-left: 7px;
}
#footer .p3 .img3{
    margin-left: 6px;
    margin-top: 8px;
}
#footer .ul1,#footer .ul2,#footer .ul3{
    width: 55px;
    height: 124px;
    position: absolute;
}
#footer .ul1{    
    top:53px;
    margin-left: 977px;
}
#footer .ul2{
    margin-left: 1077px;
    top: 53px;
}
#footer .sm span{
    width: 2px;
    height: 2px;
    border-radius: 50%;
    display: inline-block;
    background-color: #505050;
}
#footer span:nth-of-type(1){
    margin-top: 17px;
}
#footer span:nth-of-type(2){
    margin-top: 10px;
}
#footer .ul3{
    margin-left: 1177px;
    top: 53px;
}
#footer .ul1 li:nth-of-type(1),#footer .ul2 li:nth-of-type(1),#footer .ul3 li:nth-of-type(1){
    font-size: 11px;
    color: #081F2C;
    font-weight: bold;
    margin-top: 0;
}
#footer .ul1 a,#footer .ul2 a,#footer .ul3 a{
    color: #505150;
    font-size: 10px;
}
#footer .ul1 li,#footer .ul2 li,#footer .ul3 li{
    margin-top: 7px;
}
#footer .ul1 a:hover,#footer .ul2 a:hover,#footer .ul3 a:hover{
    text-decoration: underline;
}
#footer .xm{
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 20px;
    line-height: 60px;
    border-top: 1px solid #E8E6E7;
}
#footer .xm p{
    display: inline-block;
    font-size: 15px;
    color: #505050;
    margin-left: 20px;
    margin-top: 10px;
}
#footer .xm .span1{
    display: inline-block;
    width: 100px;
    position: absolute;
    top: -5px;
    left: 675px;
}
#footer .xm .span1 a,#footer .xm .span2 a,#footer .xm .span3 a{
    font-size: 14px;
    color: #505050;
}
#footer .xm .span2{
    display: inline-block;
    width: 240px;
}
#footer .xm .span2 a,#footer .xm .span3 a{
    margin-left: 20px;
}
#footer .xm .span2 img,#footer .xm .span3 img{
    position: absolute;
    bottom: 8px;
}
#footer .xm .span3{
    display: inline-block;
    width: 240px;
}
#footer .xm .xm-r{
    display: inline-block;
    margin-left: 430px;
}

